*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
.left-side-content{
  height: 100vh;
  background-color:rgb(16, 16, 52);
  color: white;
}
.overall-container a{
  text-decoration: none;
  color:white;
}
.my-img {
  height: 90vh;
  padding:0%;

}
.intro-content p:nth-child(1){
  position: fixed;
  right: 18%;
}
.intro-content p:nth-child(2){
  margin-top: 2.5rem;
}
.intro-content {
  position: fixed;
  right:10%
 }
.img-container{

    background-color:rgb(121, 117, 117); 
}
.about-my-details{
  list-style: none;
}
h2{
  display: inline-block;
  position: relative;
}
h2::after{
  content: '';
  display: block;
  width: 60%;
  height: 3px; 
  background-color: rgb(73, 73, 73);
  margin:  auto;
  position: absolute;
  bottom: 0;
  left: 0%;

}
.skill:hover{
  box-shadow: 12px 13px 3px grey;
  transform: scale(1.1);
  cursor: pointer;
}
/* Resume  */
.resume-title{
  font-size: 32px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.resume-body p{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(42, 42, 249);
  color: whitesmoke;
  border-radius: 20px;
  height: 100px;
  width: 40vw;
  font-size: 22px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.resume-body p:hover{
  background-color: grey;
}
.client-data input ,textarea{
  outline: none;
  border: none;
  padding: 10px 10px ;
  width: 100%;
  background-color: transparent;
  border: 0.5px solid black;
  border-radius: 10px;

}
.client-data input:active{
  text-wrap: wrap;
}
.client-data label{
  padding:10px ;
}
.client-data label:after{
  content: " *";
  color: red;
}
.left-box-bottom a{
  text-decoration: none;
  color: white;
}
a{
  text-decoration: none ;
}

.conatct-form{
  background-color:whitesmoke;
  width: 50vw;
  border-radius: 20px;
  padding: 30px 50px;
}

ul li{
  list-style: none;
  
}
.sendbtn{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:769px) {
  .conatct-form{
    width: 60vw;
  }
  .intro-content p:nth-child(1){
    position: fixed;
    right: 18%;
    bottom: 20%;
  }
  .intro-content {
   position: fixed;
   right:8%;
   bottom: 12%;
  }
  .skill div img{
    height: 150px;
    width: 150px;
  }
 
}
@media screen and (min-width:310px) and (max-width:426px) {
  .home{
    overflow: hidden;
  }
  .education  div p{
    font-size: 16px;
    width: 100%;
  }
  .extra-skills li{
    list-style: none;
  }
  .conatct-form{
    width: 80vw;
  }
  .about-my-img img{
    width: 250px;
  }
  .my-img img{
    width: 50%;
    height: 50%px;
    position: relative;
    
  }
  .intro-content p:nth-child(1){
    position: fixed;
    right: 28%;
    bottom: 12%;
  }
  .intro-content{
    position :fixed;
    bottom: 7%;
    right: 10%;

  }
  /* resume */
  .resume-body p{
    width: 90vw;
  }
  .set-1 li,.set-2 li{
    font-size: 16px;
    padding-left: 25px;
  }
  
}



